## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.fdb_latexmk
*.upa
*.upb
*.gz
*.gnuplot
*.bbl
*.blg
*.swp
*#*
*.#*
auto
*.ps
*.dvi
*_region_.tex
*.acn
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.ist
__MACOSX
*.zip
*.bak
*.dtx
*.ins
*.cbx
*.dbx
*.bbx
main.pdf
